@model RefugioAnimales.ViewModel.PanelUsuarioEditViewModel

@{
    ViewData["Title"] = "Detalle";
}

<h4>Panel de @Model.Usuario.NombreUsuario</h4>

<div>
    <p><a asp-action="Panel" class="">Cambiar contraseña</a><span> | </span>Lista de Usuarios</p>
</div>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEdit.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEdit.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEdit.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEdit.Rol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.UsuarioEdit.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Usuarios" class="btn btn-secondary">Volver a la lista</a>
</div>
