@model RefugioAnimales.ViewModel.AnimalViewModel

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle de @Model.Nombre</h1>

<div>
    <hr />
    <dl class="row g-5">
        <div class="col-4">

        <dt class = "col-sm">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm">
            @Html.DisplayNameFor(model => model.AdoptanteNombre)
        </dt>
        <dd class = "col-sm">
            @if (Model.AdoptanteId != null)
            {
                <a asp-controller="Adoptante" asp-action="Detalle" asp-route-id="@Model.AdoptanteId" class="">@Model.AdoptanteNombre</a>
            }
            else
            {
                @Html.DisplayFor(model => model.AdoptanteNombre)
            }
        </dd>
        @if (Model.FechaAdopcion != null)
        {
            <dt class = "col-sm">
                @Html.DisplayNameFor(model => model.FechaAdopcion)
            </dt>
        
            <dd class = "col-sm">
                @Html.DisplayFor(model => model.FechaAdopcion)
            </dd>
        }
        </div>
        <div class="col">
            <img src="data:@Model.FotoMimeType;base64,@Convert.ToBase64String(@Model.FotoContenido)"
                 alt="Foto de @Model.Nombre"
                 style="max-width:500px; height:auto;" />
        </div>
    </dl>
</div>
<div>
    @if (@Model.AdoptanteId == null)
    {
        <a asp-action="Adoptar" asp-route-id="@Model.Id" class="btn btn-warning">Adoptar</a>
    }
    else
    {
        <a asp-action="Desadoptar" asp-route-id="@Model.Id" class="btn btn-outline-warning">Desadoptar</a>
    }
    <a asp-action="Editar" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Animales" class="btn btn-secondary">Volver a la lista</a>
</div>
